<!DOCTYPE html>
<html>
    <%- include('../includes/head') %>

    <body class="bg-bggray bg-image text-gray-50 min-h-screen flex flex-col">
        <div class="grid grid-cols-1 md:grid-cols-8 flex-1">
            <%- include('../includes/sidebar') %>

            <div class="flex flex-col col-span-6 container">
                <%- include('../includes/manageheader') %>
                <h2 class="text-3xl font-bold mx-8 mt-6 mb-2 underline">Frequently Asked Questions</h2>
                <section class="grid grid-cols gap-4 my-4 mx-8">
                    <div class="flex flex-col">
                        <h2 class="font-bold text-2xl">How do I log a moderation?</h2>
                        <p class="text-lg">To log a moderation step out to moderation log page and follow</p>
                    </div>

                    <div class="flex flex-col">
                        <h2 class="font-semibold text-2xl">How do I request a LOA?</h2>
                        <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente cupiditate exercitationem totam voluptatibus molestiae numquam magnam possimus ipsum ea perferendis, quisquam dolorum nobis voluptate labore ducimus voluptatum! Rerum, ad error!</p>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>