<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<footer class="
    text-gray-50
    flex flex-col
    md:flex-row
    text-center
    items-center
    w-full
    justify-between
    px-4
    md:px-24
    lg:px-36
    py-4
    border-t border-white/10
  " style="display:flex;justify-content:center;">
  <div class="text-lg">
    <br>
    <i class="fa fa-copyright"></i> Copyright <a href="https://discord.gg/california" target="_blank"><b>California State Roleplay</b></a>
  </div>