<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>CASRP - Panel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
  <link rel="stylesheet" href="/styles/tailwind.css" />
  <script src="https://kit.fontawesome.com/76ac47ee98.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/virtual-select.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" />

  <script src="/scripts/virtual-select.min.js"></script>
</head>