<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<script src="https://kit.fontawesome.com/073a7b8282.js" crossorigin="anonymous"></script>

<aside class="col-span-2">
    <section class="flex flex-col h-full">
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxl-c-plus-plus'></i>
                <a href="/selector">
                    <span class="logo_name">Panel</span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="homePage" class="<%if(currentURL.endsWith('homePage')) { %> bg-white/5 <% } else { %> bg-stone-900 <% } %>" style="margin-top: 25px;">
                        <i class="fa-solid fa-house-user"></i>
                        <span class="link_name">Homepage</span>
                    </a>
                </li>
                <li>
                    <a href="/staff/moderateLog" class="<%if(currentURL.endsWith('moderateLog')) { %> bg-white/5 <% } else { %> bg-stone-900 <% } %>">
                        <i class="fa-solid fa-hammer"></i>
                        <span class="link_name">Log Moderation</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="">Log Moderation</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/staff/shiftManagement" class="<%if(currentURL.endsWith('shiftManagement')) { %> bg-white/5 <% } else { %> bg-stone-900 <% } %>">
                        <i class="fa-solid fa-clock"></i>
                        <span class="link_name">Shift Management</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="">Shift Management</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/staff/loaRequest" class="<%if(currentURL.endsWith('loaRequest')) { %> bg-white/5 <% } else { %> bg-stone-900 <% } %>">
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <span class="link_name">Loa Request</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="">Loa Request</a></li>
                    </ul>
                </li>

                <hr class="custom">
                <li style="margin-top: 20px;">
                    <a href="/staff/banBolo" class="<%if(currentURL.endsWith('banBolo')) { %> bg-white/5 <% } else { %> bg-stone-900 <% } %>">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <span class="link_name">Ban Bolo</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="">History</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/staff/announcements" class="<%if(currentURL.endsWith('announcements')) { %> bg-white/5 <% } else { %> bg-stone-900 <% } %>">
                        <i class="fa-solid fa-bullhorn"></i>
                        <span class="link_name">Announcements</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="">Announcements</a></li>
                    </ul>
                </li>
                <li>
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="<%= user.displayAvatar %>" alt="profileImg">
                        </div>
                        <div class="name-job">
                            <div class="profile_name">
                                <%= user.username %><b>#<%= user.discriminator %></b>
                            </div>
                            <div class="job"><%= user.member.roles.highest.name %></div>
                        </div>
                        <a href="/logout">
                            <i class='bx bx-log-out'></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <script>
            let arrow = document.querySelectorAll(".arrow");
            for (var i = 0; i < arrow.length; i++) {
                arrow[i].addEventListener("click", (e) => {
                    let arrowParent = e.target.parentElement.parentElement;
                    arrowParent.classList.toggle("showMenu");
                });
            }
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".bx-menu");
            console.log(sidebarBtn);
            sidebarBtn.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            });
        </script>
</aside>