<aside class="col-span-2">
  <section class="flex flex-col p-4 bg-darkerbggray h-full">
    <h1 class="text-center mb-2 text-5xl font-bold"><code>CASRP</code></h1>

    <a href="/" class="bg-black/10 rounded-lg flex flex-row items-center p-4 my-4 shadow">
      <img src="https://cdn.discordapp.com/icons/924038453568602162/a_54c9d38e8ea22a8c3aaa603c542989d3.gif?size=512" class="rounded-full border-2 border-white" width="32" height="32"/>
      <h3 class="text-lg font-bold ml-2">
        California State Roleplay
      </h3>
    </a>

    <ul class="flex flex-col mt-4">
      <li class="p-1 flex w-full">
        <a href="homePage"
          class="<% if(currentURL.endsWith('homepage')) { %> bg-white/5 font-semibold <% } else { %> bg-white/10 <% } %> w-full px-4 py-3 rounded-lg font-sans">
          <i class="fa fa-home mr-1 w-6"></i> <span>Homepage</span>
        </a>
      </li>
      <li class="p-1 flex w-full">
        <a href="/staff/moderateLog"
          class="<% if(currentURL.endsWith('moderateLog')) { %> bg-white/5 font-semibold <% } else { %> bg-white/10 <% } %> w-full px-4 py-3 rounded-lg font-sans">
          <i class="fa fa-cog mr-1 w-6"></i> <span>Log Moderation</span>
        </a>
      </li>
      <li class="p-1 flex w-full">
        <a href="/staff/loaRequest"
          class="<% if(currentURL.endsWith('loaRequest')) { %> bg-white/5 font-semibold <% } else { %> bg-white/10 <% } %> w-full px-4 py-3 rounded-lg font-sans">
          <i class="fa fa-bullhorn mr-1 w-6"></i> <span>Loa Request</span>
        </a>
      </li>
      <hr style="margin-top: 20px;">
      <li class="p-1 flex w-full">
        <a href="/staff/faq"
        class="<% if(currentURL.endsWith('faq')) { %> bg-white/5 font-semibold <% } else { %> bg-white/10 <% } %> w-full px-4 py-3 rounded-lg font-sans" style="margin-top: 7px;">
        <i class="fa fa-question mr-1 w-6"></i> <span>FAQ</span>
      </a>
      </li>
    </ul>
  </section>
</aside>