<!DOCTYPE html>
<html>
  <%- include('includes/head') %>

  <body class="bg-bggray text-gray-50 min-h-screen flex flex-col">
    <%- include('includes/header') %>

    <div class="flex flex-col items-center justify-center w-full p-8 flex-1">
      <h1 class="text-5xl font-bold mx-auto">404 - Not Found</h1>
      <h2 class="text-2xl font-medium mx-auto mt-1">Did u get lost?</h2>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>